.header{
    color: darkorange;
}

.play-author{
    color: chartreuse;
}

/* Speech class styles */
.speech {
    font-family: 'Arial', sans-serif;
    font-size: 1.1em;
    color: black;
}

/* Direction class styles */
.direction {
    font-family: 'Times New Roman', serif;
    font-size: 1em;
    color: black;
    background-color: rgb(139, 192, 196);
    transition: background-color 0.3s, color 0.3s;
}

/* Hover effect on Direction class */
.direction:hover {
    background-color: #fb1e72;
    color: #000000;
}

/* Character name class styles */

.character1 {
    color: rgb(255, 3, 75);
}
.character2 {
    color: blue;
}
.character3 {
    color: green;
}
.character4 {
    color: purple;
}

/*Speech colour */

.speech {
    color: #415a5d;
}
/* Table styles */
.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #3c0707;
}

th {
    background-color: #e2b5b5;
}

/* Alternating row colors */
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.link-container {
    color: rgb(255, 0, 68);
}