.header{
    color: darkorange;
}

.play-author{
    color: chartreuse;
}

/* Speech class styles */
.speech {
    font-family: 'Arial', sans-serif;
    font-size: 1.1em;
    color: black;
}

/* Direction class styles */
.direction {
    font-family: 'Times New Roman', serif;
    font-size: 1em;
    color: black;
    background-color: rgb(139, 192, 196);
    transition: background-color 0.3s, color 0.3s;
}

/* Hover effect on Direction class */
.direction:hover {
    background-color: #fb1e72;
    color: #000000;
}

/* Character name class styles */
.character1 {
    color: rgb(255, 3, 75);
}
.character2 {
    color: blue;
}
.character3 {
    color: green;
}
.character4 {
    color: purple;
}

/*Speech colour */
.speech {
    color: #415a5d;
}
/* Table styles */
.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #3c0707;
}

th {
    background-color: #e2b5b5;
}

/* Alternating row colors */
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* added color to hyperlink */
.link-container {
    color: rgb(255, 0, 68);
}

/* Character name hover styles */
.character1:hover,
.character2:hover,
.character3:hover,
.character4:hover {
    box-shadow: 3px 3px 10px #4f5858; /* Shadow with color and blur */
    border: 1px solid #ffcc00; /* border color */
}

.bottom-navbar {
    background-color: darkorange;
    align-items: center;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.bottom-navbar a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 380%;
    color: black;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.bottom-navbar i {
    font-size: 24px;
    margin-bottom: 80px;
}

.bottom-navbar a:hover {
    color: white; /* Change the color on hover as per your design */
}

.fa {
  padding-top: 3%;
}